#Members
{
display: flex;
}
#slide
{
    display: flex;
    align-items: center;
}

#page3

{ display: flex;
    background-color: #c6e2eb;
    border: 3px solid rgb(248 242 239);
    /* backdrop-filter: blur(20px); */
    /* background: transparent; */
    border-radius: 10px;
    width: 453px;
    margin: 20px;
    align-content: flex-start;
    flex-direction: column;
    align-items: center;
    color: #614649;
    height: 357px;
}

h5{
    width: 116px;
}
body
{
    background: url(bkd6.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px;
    min-height:75vh;
}
#inner
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.p1
{ font-size: 19px;
    height: 300px;
    width: 300px;
    border-radius: 20px;
    margin: 20px;
    border: none;
    font-family: cursive;
    text-align: center;
    display: grid;
    place-items: end start;
    font-weight: 400;
    color: rgb(134 105 117);
    align-items: end;
    justify-items: center;
}

#page1
{
    display: flex;
}
#s1
{
    background: url(ficon.jpg);
    background-size: cover;
    background-position: center;
}
#v1
{
    background: url(eicon.jpg);
    background-size: cover;
    background-position: center;
}
#back
{
    background-color: white;
    color: black;
    font-weight: 400;
    width: 104px;
    height: 39px;
    border: none;
   
    border-radius: 20px;
}
#split
{
    background-color: white;
    color: black;
    font-weight: 400;
    width: 96px;
    height: 30px;
    border: none;
   
    border-radius: 20px;
}
.p1:hover
{
    border: 3px solid rgba(241, 242, 243, 0.2);
    
    font-weight: 800;
    font-family: cursive;
}
.p2
{    font-size: 13px;
    height: 170px;
    width: 157px;
    border-radius: 20px;
    margin: 15px;
    border: none;
    font-family: cursive;
    text-align: center;
    display: grid; 
    place-items: end start;
    font-weight: 400;
    align-items: end;
    justify-items: center;
    color: rgb(134 105 117);
}
.pg2
{
           /* margin-left: 1117px; */
          display: grid;
          grid-auto-flow: column;
           
    
}
.p2:hover:hover
{
    border: 3px solid rgba(241, 242, 243, 0.2);
   
    font-weight: 800;
    font-family: cursive;
}

.p2.active
{
    background: white;
    background-color: white;
    height: 28px;
    width: 100px;
}
@media screen and (max-width:400px) {
    #page1
    {
        display: flex;
        flex-direction: column;
    }
    .pg2
    {display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 80%;
        width: 400px;
        overflow-x: auto;
        overscroll-behavior-inline: contain;
    }

    .p1{
         height: 190px;
        width: 200px;
       
        font-size: 11px;
    }
    body{
        display: flex;
    }
    .p2{
       
        margin: 55px;
        /* margin-right: 67px; */
        /* border: 10px; */
        width: 284px;
        height: 287px;
        color: black;
        font-weight: 500;
    }
    #page3
    {
        width:375px;
    }
    #Members
    {
        font-size: 12px;
    }
    .p2.active
{
    background: white;
    background-color: white;
    height: 28px;
    width: 76px;
    margin: 5px;
}
.pg2.active
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.page2n
{
    display: flex;
}

}

#b1
{
    background: url(breakfast.jpg);
    background-size: cover;
    background-position: center;
}

#b2
{
    background: url(lunch.jpg);
    background-size: cover;
    background-position: center;
}
#b3
{
    background: url(dinner.jpg);
    background-size: cover;
    background-position: center;
}
#b4
{
    background: url(snacks.jpg);
    background-size: cover;
    background-position: center;
}
#b5
{
    background: url(bus.jpg);
    background-size: cover;
    background-position: center;
}
#b6
{
    background: url(other.jpg);
    background-size: cover;
    background-position: center;
}
